*{
    text-align: center;
}

body{
    background-color: tan;
}

ul{
    list-style-position: inside;
}

.ingredients-list, .instruction-list{
    font-size: 20px;
}

.instruction-list li{
    padding-top: 12px;
}