*{
    text-align: center;
}

img{
    width: 45%;
    height: 600px;
    margin-top: 20px;
    border: 2px black solid;
}

button{
    display: inline;
}

li{
    margin-left: auto;
    margin-right: auto;
}

ol{
    border: 2px solid black;
    margin-left: 25%;
    margin-right: 25%;
    padding: 0px;
    background-color: beige;
}

body{
    background-color: tan;
}

ul{
    list-style: none;
    padding: 0px;
}

.ingredients-list, .instruction-list{
    font-size: 20px;
}

.instruction-list li{
    width: 85%;
    padding: 8px;
}

.container{
    position: relative;
}

.left-jus{
    margin: 0px;
    position: absolute;
    left: 95%;
}

div.header-imgs{
    display: inline-block;
    width: 80%;
}

div.header-imgs img{
    display: inline;
    margin: 0px 5px;
}