*{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    padding: 0px;
    margin: 0px;
    border: 0px;
}

ul{
    list-style: none;
}

/* CSS code for landing page*/
body > *{
    display: flex;
    padding-bottom: 20px;
}

.non-focus{
    color: rgba(255, 255, 255, 0.87);
}

.header{
    justify-content: space-around;
    background-color: grey;
    padding-bottom: 30px;
}

.right-links div{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    gap: 10px;
}

a {
    text-decoration: none;
}

a:link{
    color: inherit;
}

.left-logo {
    color: white;
    display: flex;
    align-items: center;
    font-size: larger;
}

.intro{
    background-color: grey;
    height: 300px;
    justify-content: space-around;
    gap: 5px;
}

.left-text{
    gap: 10px;
}

.intro > .left-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.left-text > button {
    padding: 5px 0;
    margin-top: 5px;
    width: 100px;
    background-color: #4267B2;
    border-radius: 15px;
}

.right-text{
    display: flex;
    flex: 1;
    justify-content: center;
    align-items: center;
    padding-right: 5px;
}

.right-text > img {
    display: flex;
    flex: 1;
    max-width: 600px;
    max-height: 250px;
}

.page-body{
    padding-top: 20px;
    flex-direction: column;
    height: 300px;
    justify-content: center;
    gap: 30px;
    flex: 1;
}

.page-body-imgs{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
}

.page-body-imgs img {
    height: 300px; 
    width: 300px;
    border: black solid 2px;
}

/*--CSS code for subpages */

.filler{
    display: flex;
    flex: 1;
}

li {
    font-size: 20px;
}

body{
    background-color: tan;
    display: flex;
    flex-direction: column;
}

body > div{
    display: flex;
}

.container > div {
    display: flex;
    width: 200px;
    flex: 1;
    justify-content: center;
    align-items: center;
}

.container > h1 {
    align-items: center;
    justify-content: center;
    flex: 3;
}

.head-div > div > button{
    padding: 6px;
    flex: 1,1,200px;
}

.div-img{
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1;
    gap: 5px;
    flex-wrap: wrap;
}

.div-img > img{
    display: flex;
    flex: 1;
    width: auto;
    height: 600px;
    max-width: 40%;
    border: 2px black solid;
}

.div-des{
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.container .div-ing{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 3;
}

.container .div-ins{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex: 3;
}

.div-ins > ol{
    margin: 0px;
    border: 2px solid black;
    padding: 10px 25px;
    background-color: beige;
}

ol li {
    padding-top: 10px;
}