*{
    text-align: center;
}

img{
    width: auto;
    height: 600px;
    margin-top: 20px;
    border: 2px black solid;
}

li{
    margin-left: auto;
    margin-right: auto;
}

ol{
    border: 2px solid black;
    margin-left: 25%;
    margin-right: 25%;
    padding: 0px;
    background-color: beige;
}

body{
    background-color: tan;
}

ul{
    list-style: none;
    padding: 0px;
}

.ingredients-list, .instruction-list{
    font-size: 20px;
}

.instruction-list li{
    width: 85%;
    padding: 8px;
}

.container{
    display: flex;
}

.container > div {
    width: 200px;
    flex: 0,0,0;
}

.container > h1 {
    margin-left: auto;
    margin-right: auto;
    flex: 1;
}

.head-div > div > button{
    margin-top: 12%;
    padding: 6px;
}

div.header-imgs{
    display: inline-block;
    width: 80%;
}

div.header-imgs.two-img img{
    display: inline;
    width: 45%;
    margin: 0px 5px;
}