*{
    text-align: center;
}

img{
    width: auto;
    height: 600px;
}

button{
    margin: 0px;
    margin-left: 1220px;
}

li{
    margin-left: auto;
    margin-right: auto;
}

ol{
    border: 2px solid black;
    margin-left: 25%;
    margin-right: 25%;
    padding: 0px;
    background-color: beige;
}

body{
    background-color: tan;
}

ul{
    list-style: none;
}

.ingredients-list, .instruction-list{
    font-size: 20px;
}

.instruction-list li{
    word-wrap: break-word;
    width: 85%;
    padding-top: 12px;
}